.opt-btn {
    padding: 8px;
    width: fit-content;
    height: fit-content;
    min-width: 50px;
    background-color: white; 
    border: 2px solid rgb(40, 115, 212);
    border-radius: 20px;
    color:rgb(40, 115, 212);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 4px 25px;
    cursor: pointer;
}

.opt-btn:hover {
    background-color: rgb(40, 115, 212);
    color: whitesmoke;
  }

.div{
    display: inline-block;
    margin: 0;
    padding: 0px;
    
}